In [2]:
# assign directory
import os
BRANDON = '/Users/brandonmarks/Desktop/Research Materials/hierarchical-bayesian-model-validation/'
YASH = '/Users/yashd/Desktop/hierarchical-bayesian-model-validation/'

ROOT_DIR = BRANDON
data_dir = ROOT_DIR + 'raw-data/agriVision/toy-agriVision-RGB-cleaned'
# iterate over files in that directory
file_list = [os.path.join(data_dir, filename) for filename in os.listdir(data_dir)]
file_names = os.listdir(data_dir)

In [3]:
os.chdir(ROOT_DIR + "dataset-preparation/")
from transform_utilities import *

# Fourier

In [3]:
#Values obtained from plots in agriVisionFourierEDA.ipynb
splits = getSplits(0.008052940675034493,0.5282291467669505, 1.35)
print(splits)

[0.008052940675034493, 0.010871469911296566, 0.014676484380250364, 0.01981325391333799, 0.02674789278300629, 0.0361096552570585, 0.04874803459702898, 0.06580984670598912, 0.08884329305308532, 0.11993844562166518, 0.161916901589248, 0.21858781714548484, 0.29509355314640456, 0.3983762967476462]

In [4]:
red_fr = convert_to_fourier_basis(data_dir, "Red", split_list = splits)
pd.to_pickle(red_fr, '../transformed-data/toy-agriVision-red-fourier.pickle')
red_fr.head()

[0.00805294 0.01087147 0.01467648 0.01981325 0.02674789 0.03610966
 0.04874803 0.06580985 0.08884329 0.11993845 0.1619169  0.21858782
 0.29509355 0.3983763 ]

,band,channel,magnitude_endpoints,unique_magnitudes,data
0,1,Red,"(0.0, 0.0078125)",10,"[282320.0, 387144.0, 264237.0, 475188.0, 34670..."
1,2,Red,"(0.008052940675034493, 0.010517900013934578)",6,"[-11731.553938311747, 5371.814035418411, 2802...."
2,3,Red,"(0.011048543456039806, 0.014218964627501012)",11,"[-2155.8887270649548, 14785.418900041237, 4273..."
3,4,Red,"(0.014874556847390447, 0.019628663322501738)",18,"[4031.4842579535693, 6365.758555864185, 970.09..."
4,5,Red,"(0.019918044974971814, 0.026565372087373914)",30,"[-1762.2120266993438, 2716.3552006540685, -331..."

In [5]:
green_fr = convert_to_fourier_basis(data_dir, "Green", split_list = splits)
pd.to_pickle(green_fr, '../transformed-data/toy-agriVision-green-fourier.pickle')
green_fr.head()

[0.00805294 0.01087147 0.01467648 0.01981325 0.02674789 0.03610966
 0.04874803 0.06580985 0.08884329 0.11993845 0.1619169  0.21858782
 0.29509355 0.3983763 ]

,band,channel,magnitude_endpoints,unique_magnitudes,data
0,1,Green,"(0.0, 0.0078125)",10,"[287519.0, 400950.0, 272120.0, 440717.0, 34241..."
1,2,Green,"(0.008052940675034493, 0.010517900013934578)",6,"[-14653.913289968976, 6626.452771226415, 4303...."
2,3,Green,"(0.011048543456039806, 0.014218964627501012)",11,"[-3064.74555174366, 15847.891588743667, 5726.0..."
3,4,Green,"(0.014874556847390447, 0.019628663322501738)",18,"[4284.485697456936, 8743.2554250991, 146.99160..."
4,5,Green,"(0.019918044974971814, 0.026565372087373914)",30,"[-706.4751136082434, 5193.293286344217, -413.7..."

In [6]:
blue_fr = convert_to_fourier_basis(data_dir, "Blue", split_list = splits)
pd.to_pickle(blue_fr, '../transformed-data/toy-agriVision-blue-fourier.pickle')
blue_fr.head()

[0.00805294 0.01087147 0.01467648 0.01981325 0.02674789 0.03610966
 0.04874803 0.06580985 0.08884329 0.11993845 0.1619169  0.21858782
 0.29509355 0.3983763 ]

,band,channel,magnitude_endpoints,unique_magnitudes,data
0,1,Blue,"(0.0, 0.0078125)",10,"[480133.0, 183750.0, 102164.0, 316535.0, 18036..."
1,2,Blue,"(0.008052940675034493, 0.010517900013934578)",6,"[3331.6323437969904, 8289.970590130997, -5005...."
2,3,Blue,"(0.011048543456039806, 0.014218964627501012)",11,"[-3844.5831133632228, 10669.491851969637, 264...."
3,4,Blue,"(0.014874556847390447, 0.019628663322501738)",18,"[7067.222761147483, 1362.3826248957864, -2505...."
4,5,Blue,"(0.019918044974971814, 0.026565372087373914)",30,"[-1748.9076270106275, -4760.532117953842, -495..."

In [7]:
gray_fr = convert_to_fourier_basis(data_dir, "Gray", split_list = splits)
pd.to_pickle(gray_fr, '../transformed-data/toy-agriVision-gray-fourier.pickle')
gray_fr.head()

[0.00805294 0.01087147 0.01467648 0.01981325 0.02674789 0.03610966
 0.04874803 0.06580985 0.08884329 0.11993845 0.1619169  0.21858782
 0.29509355 0.3983763 ]

,band,channel,magnitude_endpoints,unique_magnitudes,data
0,1,Gray,"(0.0, 0.0078125)",10,"[297214.0, 384734.0, 263148.0, 451082.0, 34009..."
1,2,Gray,"(0.008052940675034493, 0.010517900013934578)",6,"[-12535.922083472946, 6837.146665654561, 3152...."
2,3,Gray,"(0.011048543456039806, 0.014218964627501012)",11,"[-2994.059649535948, 15210.355209066132, 4727...."
3,4,Gray,"(0.014874556847390447, 0.019628663322501738)",18,"[4290.989798884659, 7364.261740329368, 467.089..."
4,5,Gray,"(0.019918044974971814, 0.026565372087373914)",30,"[-1348.3993550495852, 2759.9480645943263, -219..."

In [8]:
ir_fr = convert_to_fourier_basis(data_dir, "Infrared", split_list = splits)
pd.to_pickle(ir_fr, '../transformed-data/toy-agriVision-ir-fourier.pickle')
ir_fr.head()

[0.00805294 0.01087147 0.01467648 0.01981325 0.02674789 0.03610966
 0.04874803 0.06580985 0.08884329 0.11993845 0.1619169  0.21858782
 0.29509355 0.3983763 ]

,band,channel,magnitude_endpoints,unique_magnitudes,data
0,1,Infrared,"(0.0, 0.0078125)",10,"[297214.0, 384734.0, 263148.0, 451082.0, 34009..."
1,2,Infrared,"(0.008052940675034493, 0.010517900013934578)",6,"[-12535.922083472946, 6837.146665654561, 3152...."
2,3,Infrared,"(0.011048543456039806, 0.014218964627501012)",11,"[-2994.059649535948, 15210.355209066132, 4727...."
3,4,Infrared,"(0.014874556847390447, 0.019628663322501738)",18,"[4290.989798884659, 7364.261740329368, 467.089..."
4,5,Infrared,"(0.019918044974971814, 0.026565372087373914)",30,"[-1348.3993550495852, 2759.9480645943263, -219..."

# Wavelet

In [3]:
red_wv = convert_to_wavelet_basis(data_dir, "Red")
pd.to_pickle(red_wv, '../transformed-data/toy-agriVision-red-wavelet.pickle')
red_wv.head()

10 layers being used

,channel,layer,orientation,data
0,Red,1,L1,"[551.4062500000006, 756.1406250000009, 516.087..."
1,Red,2,D,"[225.08984375000023, -156.48437500000017, 61.6..."
2,Red,2,H,"[96.07031250000011, 56.01171875000004, 127.919..."
3,Red,2,V,"[-1.58984375, -40.73828125000006, 84.224609375..."
4,Red,3,D,"[53.55859375000004, -49.292968750000064, -23.2..."

In [4]:
green_wv = convert_to_wavelet_basis(data_dir, "Green")
pd.to_pickle(green_wv, '../transformed-data/toy-agriVision-green-wavelet.pickle')
green_wv.head()

10 layers being used

,channel,layer,orientation,data
0,Green,1,L1,"[561.5605468750007, 783.105468750001, 531.4843..."
1,Green,2,D,"[230.54492187500026, -187.64453125000026, 71.6..."
2,Green,2,H,"[130.46289062500014, 68.24609375000011, 138.64..."
3,Green,2,V,"[-4.755859375000057, -51.277343750000114, 96.9..."
4,Green,3,D,"[64.55468750000011, -51.25781250000006, -20.44..."

In [5]:
blue_wv = convert_to_wavelet_basis(data_dir, "Blue")
pd.to_pickle(blue_wv, '../transformed-data/toy-agriVision-blue-wavelet.pickle')
blue_wv.head()

10 layers being used

,channel,layer,orientation,data
0,Blue,1,L1,"[937.7597656250011, 358.88671875000045, 199.53..."
1,Blue,2,D,"[273.22460937500045, -52.707031250000085, 52.5..."
2,Blue,2,H,"[-171.26367187500014, -145.2578125000002, 41.3..."
3,Blue,2,V,"[88.53710937500023, -14.921875000000028, 36.16..."
4,Blue,3,D,"[-63.355468750000114, -47.57812500000006, -101..."

In [6]:
gray_wv = convert_to_wavelet_basis(data_dir, "Gray")
pd.to_pickle(gray_wv, '../transformed-data/toy-agriVision-gray-wavelet.pickle')
gray_wv.head()

10 layers being used

,channel,layer,orientation,data
0,Gray,1,L1,"[580.4960937500007, 751.433593750001, 513.9609..."
1,Gray,2,D,"[235.41015625000028, -164.85156250000023, 61.2..."
2,Gray,2,H,"[101.18359375000016, 54.33984375000007, 126.30..."
3,Gray,2,V,"[0.03515625, -39.968750000000114, 84.000000000..."
4,Gray,3,D,"[49.94531250000006, -49.49218750000006, -30.95..."

In [7]:
ir_wv = convert_to_wavelet_basis(data_dir, "Infrared")
pd.to_pickle(red_wv, '../transformed-data/toy-agriVision-red-wavelet.pickle')
ir_wv.head()

10 layers being used

,channel,layer,orientation,data
0,Infrared,1,L1,"[580.4960937500007, 751.433593750001, 513.9609..."
1,Infrared,2,D,"[235.41015625000028, -164.85156250000023, 61.2..."
2,Infrared,2,H,"[101.18359375000016, 54.33984375000007, 126.30..."
3,Infrared,2,V,"[0.03515625, -39.968750000000114, 84.000000000..."
4,Infrared,3,D,"[49.94531250000006, -49.49218750000006, -30.95..."