In [26]:
# assign directory
import os
BRANDON = '/Users/brandonmarks/Desktop/Research Materials/hierarchical-bayesian-model-validation/'
YASH = '/Users/yashd/Desktop/hierarchical-bayesian-model-validation/'

ROOT_DIR = BRANDON
data_dir = ROOT_DIR + 'raw-data/agriVision/full-agriVision-RGB-cleaned'
# iterate over files in that directory
file_list = [os.path.join(data_dir, filename) for filename in os.listdir(data_dir)]
file_names = os.listdir(data_dir)

In [21]:
os.chdir(ROOT_DIR + "dataset-preparation/")
from transform_utilities import *

In [32]:
len(file_names)

94986

In [42]:
target_dir = ROOT_DIR + 'raw-data/agriVision'
directorySplit(data_dir, target_dir, "agriVision-RGB-cleaned", 10000)

  0%|          | 0/10554 [00:00<?, ?it/s]

94986 9

100%|██████████| 10554/10554 [00:53<00:00, 198.63it/s]
100%|██████████| 10554/10554 [00:52<00:00, 201.16it/s]
100%|██████████| 10554/10554 [00:53<00:00, 195.89it/s]
100%|██████████| 10554/10554 [00:52<00:00, 199.98it/s]
100%|██████████| 10554/10554 [00:53<00:00, 198.59it/s]
100%|██████████| 10554/10554 [00:52<00:00, 200.57it/s]
100%|██████████| 10554/10554 [00:55<00:00, 189.54it/s]
100%|██████████| 10554/10554 [00:54<00:00, 195.31it/s]
100%|██████████| 10554/10554 [00:53<00:00, 196.32it/s]

# Fourier

In [43]:
#Values obtained from plots in agriVisionFourierEDA.ipynb
batch_dir = ROOT_DIR + 'raw-data/agriVision/batch0-agriVision-RGB-cleaned'
splits = getSplits(0.008052940675034493,0.5282291467669505, 1.35)
print(splits)

[0.008052940675034493, 0.010871469911296566, 0.014676484380250364, 0.01981325391333799, 0.02674789278300629, 0.0361096552570585, 0.04874803459702898, 0.06580984670598912, 0.08884329305308532, 0.11993844562166518, 0.161916901589248, 0.21858781714548484, 0.29509355314640456, 0.3983762967476462]

In [44]:
red_fr = convert_to_fourier_basis(batch_dir, "Red", split_list = splits, debug = True)
#pd.to_pickle(red_fr, '../transformed-data/toy-agriVision-red-fourier.pickle')
red_fr.head()

100%|██████████| 10554/10554 [02:42<00:00, 65.10it/s]

[0.00805294 0.01087147 0.01467648 0.01981325 0.02674789 0.03610966
 0.04874803 0.06580985 0.08884329 0.11993845 0.1619169  0.21858782
 0.29509355 0.3983763 ]

100%|██████████| 14/14 [01:45<00:00,  7.50s/it]

,band,channel,magnitude_endpoints,unique_magnitudes,data
0,1,Red,"(0.0, 0.0078125)",10,"[137112.0, 198767.0, 483929.0, 526386.0, 2098...."
1,2,Red,"(0.008052940675034493, 0.010517900013934578)",6,"[-3571.0613883717597, -1500.3777691454366, -12..."
2,3,Red,"(0.011048543456039806, 0.014218964627501012)",11,"[-1249.994314969014, -1741.9432750260853, -128..."
3,4,Red,"(0.014874556847390447, 0.019628663322501738)",18,"[-2769.4591104640263, -754.7832337278137, -851..."
4,5,Red,"(0.019918044974971814, 0.026565372087373914)",30,"[-1216.2109775617303, -1469.6377541926686, -59..."

In [5]:
green_fr = convert_to_fourier_basis(data_dir, "Green", split_list = splits)
#pd.to_pickle(green_fr, '../transformed-data/toy-agriVision-green-fourier.pickle')
green_fr.head()

[0.00805294 0.01087147 0.01467648 0.01981325 0.02674789 0.03610966
 0.04874803 0.06580985 0.08884329 0.11993845 0.1619169  0.21858782
 0.29509355 0.3983763 ]

,band,channel,magnitude_endpoints,unique_magnitudes,data
0,1,Green,"(0.0, 0.0078125)",10,"[81813.0, 467467.0, 225750.0, 233632.0, 471000..."
1,2,Green,"(0.008052940675034493, 0.010517900013934578)",6,"[-667.9157639064135, 2428.1412724772617, -804...."
2,3,Green,"(0.011048543456039806, 0.014218964627501012)",11,"[-407.11342573213653, -2893.7565435238716, -91..."
3,4,Green,"(0.014874556847390447, 0.019628663322501738)",18,"[-1927.641998561064, -2252.719116308643, 913.6..."
4,5,Green,"(0.019918044974971814, 0.026565372087373914)",30,"[-1528.412988984921, 970.1548344899536, 492.94..."

In [6]:
blue_fr = convert_to_fourier_basis(data_dir, "Blue", split_list = splits)
#pd.to_pickle(blue_fr, '../transformed-data/toy-agriVision-blue-fourier.pickle')
blue_fr.head()

[0.00805294 0.01087147 0.01467648 0.01981325 0.02674789 0.03610966
 0.04874803 0.06580985 0.08884329 0.11993845 0.1619169  0.21858782
 0.29509355 0.3983763 ]

,band,channel,magnitude_endpoints,unique_magnitudes,data
0,1,Blue,"(0.0, 0.0078125)",10,"[97520.0, 462386.0, 242847.0, 232402.0, 545272..."
1,2,Blue,"(0.008052940675034493, 0.010517900013934578)",6,"[3090.289989974526, 2403.0111444213394, 2139.3..."
2,3,Blue,"(0.011048543456039806, 0.014218964627501012)",11,"[890.9303517748317, -2177.084315505193, 1404.6..."
3,4,Blue,"(0.014874556847390447, 0.019628663322501738)",18,"[-2410.603341947007, -2085.6461772618304, 348...."
4,5,Blue,"(0.019918044974971814, 0.026565372087373914)",30,"[-1414.6228429148193, 193.0102091905245, -3249..."

In [7]:
gray_fr = convert_to_fourier_basis(data_dir, "Gray", split_list = splits)
#pd.to_pickle(gray_fr, '../transformed-data/toy-agriVision-gray-fourier.pickle')
gray_fr.head()

[0.00805294 0.01087147 0.01467648 0.01981325 0.02674789 0.03610966
 0.04874803 0.06580985 0.08884329 0.11993845 0.1619169  0.21858782
 0.29509355 0.3983763 ]

,band,channel,magnitude_endpoints,unique_magnitudes,data
0,1,Gray,"(0.0, 0.0078125)",10,"[80367.0, 464026.0, 265558.0, 232272.0, 394565..."
1,2,Gray,"(0.008052940675034493, 0.010517900013934578)",6,"[-671.8820488918707, 2292.7830400318353, -270...."
2,3,Gray,"(0.011048543456039806, 0.014218964627501012)",11,"[-596.3965045249346, -2458.981803649216, 759.5..."
3,4,Gray,"(0.014874556847390447, 0.019628663322501738)",18,"[-1869.7239977786285, -2382.1295181624646, 108..."
4,5,Gray,"(0.019918044974971814, 0.026565372087373914)",30,"[-1665.8794472636714, 359.6725136568671, -538...."

In [8]:
ir_fr = convert_to_fourier_basis(data_dir, "Infrared", split_list = splits)
#pd.to_pickle(ir_fr, '../transformed-data/toy-agriVision-ir-fourier.pickle')
ir_fr.head()

[0.00805294 0.01087147 0.01467648 0.01981325 0.02674789 0.03610966
 0.04874803 0.06580985 0.08884329 0.11993845 0.1619169  0.21858782
 0.29509355 0.3983763 ]

,band,channel,magnitude_endpoints,unique_magnitudes,data
0,1,Infrared,"(0.0, 0.0078125)",10,"[80367.0, 464026.0, 265558.0, 232272.0, 394565..."
1,2,Infrared,"(0.008052940675034493, 0.010517900013934578)",6,"[-671.8820488918707, 2292.7830400318353, -270...."
2,3,Infrared,"(0.011048543456039806, 0.014218964627501012)",11,"[-596.3965045249346, -2458.981803649216, 759.5..."
3,4,Infrared,"(0.014874556847390447, 0.019628663322501738)",18,"[-1869.7239977786285, -2382.1295181624646, 108..."
4,5,Infrared,"(0.019918044974971814, 0.026565372087373914)",30,"[-1665.8794472636714, 359.6725136568671, -538...."

# Wavelet

In [50]:
red_wv = convert_to_wavelet_basis(batch_dir, "Red", debug=True)
#pd.to_pickle(red_wv, '../transformed-data/toy-agriVision-red-wavelet.pickle')
red_wv.head()

10 layers being used

100%|██████████| 10554/10554 [01:28<00:00, 118.69it/s]

  channel layer orientation                                               data
0     Red     1          L1  [267.7968750000003, 388.21679687500034, 945.17...
1     Red     2           D  [-7.015624999999998, 5.251953124999998, -13.79...
2     Red     2           H  [6.765624999999998, -31.357421875000036, 78.32...
3     Red     2           V  [-267.5468750000003, -60.439453125000085, -209...
4     Red     3           D  [0.0, -8.875000000000002, 0.25000000000000006,...

In [10]:
green_wv = convert_to_wavelet_basis(data_dir, "Green")
#pd.to_pickle(green_wv, '../transformed-data/toy-agriVision-green-wavelet.pickle')
green_wv.head()

10 layers being used

  channel layer orientation                                               data
0   Green     1          L1  [159.79101562500017, 913.0214843750011, 440.91...
1   Green     2           D  [-54.748046875000064, 60.771484375000185, 6.72...
2   Green     2           H  [64.33007812500007, 52.45507812500003, 16.5664...
3   Green     2           V  [-90.8027343750001, 0.33007812499994316, -6.49...
4   Green     3           D  [9.527343750000007, 5.507812500000005, -2.4296...

In [11]:
blue_wv = convert_to_wavelet_basis(data_dir, "Blue")
#pd.to_pickle(blue_wv, '../transformed-data/toy-agriVision-blue-wavelet.pickle')
blue_wv.head()

10 layers being used

  channel layer orientation                                               data
0    Blue     1          L1  [190.46875000000023, 903.0976562500011, 474.31...
1    Blue     2           D  [-79.18359375000007, 59.93750000000008, -0.888...
2    Blue     2           H  [90.8710937500001, 49.05078124999999, -14.1269...
3    Blue     2           V  [-121.25781250000013, -5.492187500000057, -8.1...
4    Blue     3           D  [8.69140625000001, 37.976562500000036, -2.8476...

In [12]:
gray_wv = convert_to_wavelet_basis(data_dir, "Gray")
#pd.to_pickle(gray_wv, '../transformed-data/toy-agriVision-gray-wavelet.pickle')
gray_wv.head()

10 layers being used

  channel layer orientation                                               data
0    Gray     1          L1  [156.96679687500017, 906.3007812500011, 518.66...
1    Gray     2           D  [-54.38085937500006, 60.472656250000114, 4.378...
2    Gray     2           H  [63.78320312500007, 51.61328125000003, 8.80468...
3    Gray     2           V  [-89.6035156250001, -4.45703125, -11.328124999...
4    Gray     3           D  [8.62500000000001, 6.179687500000009, -2.51953...

In [13]:
ir_wv = convert_to_wavelet_basis(data_dir, "Infrared")
#pd.to_pickle(red_wv, '../transformed-data/toy-agriVision-red-wavelet.pickle')
ir_wv.head()

10 layers being used

,channel,layer,orientation,data
0,Infrared,1,L1,"[156.96679687500017, 906.3007812500011, 518.66..."
1,Infrared,2,D,"[-54.38085937500006, 60.472656250000114, 4.378..."
2,Infrared,2,H,"[63.78320312500007, 51.61328125000003, 8.80468..."
3,Infrared,2,V,"[-89.6035156250001, -4.45703125, -11.328124999..."
4,Infrared,3,D,"[8.62500000000001, 6.179687500000009, -2.51953..."